.ant-form {
    margin-top: 40px;

    .ant-input-affix-wrapper {
        background-color: transparent;
        border: 1px solid #999;

        .ant-input-prefix {
            font-size: 20px;
            color: #c0c4cc;
        }
    }

    .ant-form-item-control {
        margin: auto;

        .ant-input {
            height: 40px;
            background-color: transparent;
            color: #c0c4cc;
            font-size: 20px;

            &::placeholder {
                color: #989797;
            }
        }
    }

    .ant-input-password {
        background-color: transparent;
        border: 1px solid #999;

        .ant-input-password-icon {
            color: #c0c4cc;
            font-size: 20px;

            &:hover {
                color: #a2a5ab;
            }
        }

        .ant-input {
            height: 40px;
            background-color: transparent;
            border: none;
        }
    }

    .ant-checkbox-wrapper {
        color: #9ea0a4;
    }

    .submit_btn_wrap {
        text-align: center;
    }
}